* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #FFF;
    
}
.bod {
    width: 100vw;
    height: 100vh;
}
.conteiner1 {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    background: #FFF;
    position: relative;
    z-index: 3;
}
.photo1 {
    width: 111.219px;
    height: 18px;
}
.conteiner11 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    
}
.box1 {
    color: #837D88;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.box1:hover {
    color: #2C2830;
}
.box2 {
   display: flex;
    color: #2C2830;
    align-items: center;
    justify-content: center;
    font-family: "Karla", sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    width: 146px;
    height: 40px;
    border: 1.5px solid #2C2830;
}
.box2:hover {
    border: 1.5px solid #2C2830;
background: #2C2830;
color: #FFF;
}
.conteiner2 {
    display: flex;
    height: 600px;
    background: #2D2641;
    padding-top: 105px;
    padding-left: 165px;
    flex-direction: column;
    z-index: 1;
    position: relative;
}
.xazi {
    width: 150px;
    height: 1px;
    background: #FFF;
}
.satauri {
    width: 540px;
height: 140px;
color: #FFF;
font-family: "DM Serif Display", serif;
font-size: 72px;
font-weight: 400;
line-height: 64px;
letter-spacing: -1px;
margin-top: 63px;
}
.text1 {
    width: 540px;
height: 84px;
color: #FFF;
font-family: "Karla", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 16px;
}
.view {
    display: flex;
    color: #FFF;
align-items: center;
justify-content: center;
font-family: "Karla", sans-serif;
font-size: 13px;
font-weight: 700;
letter-spacing: 1.5px;
width: 146px;
height: 40px;
border: 1.5px solid #FFF;
margin-top: 24px;
}
.view:hover {
    border: 1.5px solid #FFF;
background: #FFF;
color: #2C2830;
}
.adamianebi {
    z-index: 1;
    position: absolute;
    top: 105px;
    left: 735px;
}
.ovali {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 88px;   
    height: 649px;
}
.ovali2 {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 414px;   
}
.conteiner30 {
    display: flex;
    justify-content: center;
}
.conteiner3 {
    padding-top: 306px;
    width: 1110px;
    display: flex;
    flex-direction: column;
}
.xazi2 {
    width: 150px;
    height: 1px;
    background: #C396C6;
}
.conteiner4 {
    width: 717px;
    height: 64px;
    color: #2C2830;
    font-family: "DM Serif Display", serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1px;
    margin-top: 63px;
}
.conteiner5 {
    display: flex;
    flex-direction: row;
    margin-top: 96px;
    gap: 30px;
}
.wre {
    padding-bottom: 32px;
}
.satauri1 {
    padding-bottom: 16px;
    width: 350px;
    height: 38px;
    color: #2C2830;
    font-family: "DM Serif Display", serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -0.389px;
}
.text2 {
    width: 350px;
height: 78px;
color: #837D88;
font-family: "Karla", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.con40 {
    display: flex;
    justify-content: center;
    padding-top: 158px;
}
.con41 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1110px;
height: 250px;
background: #2D2641;
position: relative;
}
.con42 {
    color: #FFF;
    font-family: "DM Serif Display", serif;
font-size: 56px;
font-weight: 400;
line-height: 56px;
letter-spacing: -0.778px;
width: 475px;
height: 112px;
}
.con43 {
    color: #FFF;
text-align: center;
font-family: "Karla", sans-serif;
font-size: 13px;
font-weight: 700;
letter-spacing: 1.5px;
display: flex;
justify-content: center;
align-items: center;
border: 1.5px solid #FFF;
width: 160px;
height: 40px;
z-index: 2;

}
.con43:hover {
    border: 1.5px solid #FFF;
background: #FFF;
color: #2C2830;
}
.ovali3 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.contx {
    height: 393px;
    margin-top: 150px;
    padding: 64px 165px 64px 165px;
    position: relative;
    background: #FAFAFA;
}
.ovali4 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.conteinerx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.xazi3 {
    width: 1110px;
    height: 1px;
    background: #DADADA;
    margin-top: 36px;
    position: relative;
    z-index: 2;
}
.conteiner60 {
    display: flex;
    flex-direction: row;
    padding-top: 48px;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    gap: 30px;
}
.box0 {
    width: 255px;
    height: 159px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.sat {
    display: flex;
    color: #837D88;
    font-family: "Karla", sans-serif;
font-size: 13px;
font-weight: 700;
letter-spacing: 1.5px;
}
.txt {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #2D2641;
    font-family: "Karla", sans-serif;
font-size: 13px;
font-weight: 700;
letter-spacing: 1.5px;
}
.txt:hover {
    text-decoration-line: underline;
}